.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(40, 40, 82);
}

/* body {
  font-size: calc(70px+ (100-70) * ((100vw-300px) / (1600-300)));
} */
