.Cell-data {
  height: 100px;
  width: 100px;
  background-color: #161113;
  transition: background-color 1s;
  border-radius: 3px;
}

.Cell-data:hover {
  cursor: pointer;
}

.Cell-data.lit {
  background-color: #fcebf5;
}
