.Cell-data {
  height: 50px;
  width: 50px;
  background-color: #161113;
  transition: background-color 1s;
  border-radius: 3px;
}

.Cell-data:hover {
  cursor: pointer;
}

.Cell-data.lit {
  background-color: #fcebf5;
}

@media (min-width: 500px) {
  .Cell-data {
    height: 70px;
    width: 70px;
  }
}

@media (min-width: 800px) {
  .Cell-data {
    height: 100px;
    width: 100px;
  }
}
